h1{
    padding-top: 5%;
    padding-left: 5%;
    font-family: 'Great Vibes', cursive;
    font-size: 75px;
    color:#bd8f92;  
  
    text-align: center ;
  }

  .moodboard{
      width: 50%;
    }

    #powerpoint-reserch{


      margin-left: auto;
      margin-right: auto;
    }