 /* html {
    scroll-behavior: smooth;
   }*/

 /* to remove the visible of side scroll bar
    ::-webkit-scrollbar { 
        display: none; 
    }  */
    
    /*If you move this to .nav-bar ul li text will move to left 
      padding: 20px;
      text-align:right;
    }  */

  /*  html {
        //   scroll-behavior: smooth;
        // }
        * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        ::-webkit-scrollbar { 
            display: none; 
        }
        
        #container, #works, #page, #about {
          height: 100vh;
          width: 100%;
          position: relative;
        }
        
        #container .back-img {
          width: 100%;
          height: 100%;
          background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-ghost-white-solid-color-background.jpg');
          // background-color: red;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          z-index: 1;
        }
        
        #container .nav-bar {
          position: fixed;
          z-index: 3;
          top: 0;
          left: 0; 
          width: 100%;
            margin: 0 auto;
        }
        .nav-bar ul {
          padding: 20px;
          text-align:right;
        }
        .nav-bar ul li {
          display: inline-block;
          padding: 15px;
          font-family: helvetica;
          font-size: 1rem;
          
        }
        .nav-bar ul li a {
          text-transform: uppercase;
          text-decoration: none;
          color: black;
        }
        .nav-bar ul li:hover a {
          color: white;
        }
        
        #works .second-img {
          width: 100%;
          height: 100%;
          background-image: url('http://www.graciaviva.cat/png/big/37/379986_black-background-1920x1080.png');
          // background-color: red;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          z-index: 1;
        }
        
        #page .third-img {
          width: 100%;
          height: 100%;
          background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-ghost-white-solid-color-background.jpg');
          // background-color: red;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          z-index: 1;
        }
        
        #about .fourth-img {
          width: 100%;
          height: 100%;
          background-image: url('http://www.graciaviva.cat/png/big/37/379986_black-background-1920x1080.png');
          // background-color: red;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          position: absolute;
          z-index: 1;
        }
        
        #container .title, #works .title, #page .title, #about .title {
          position: relative;
          z-index: 2;
          width: 100%;
          height: 100%;
          text-align: center;
          display: flex;
          justify-content: left;
          align-items: center;
        
          h1 {
            color: black;
            font-family: helvetica;
            font-weight: 700;
            font-size: 70px;
            letter-spacing: 2px;
            transform: translate(0, 0%) rotate(-90deg);
          }
          
          h2 {
            color: white;
            font-family: helvetica;
            font-weight: 700;
            font-size: 70px;
          s  letter-spacing: 2px;
            transform: translate(0, 0%) rotate(-90deg);
          }
          
        }
        .back-img, .second-img, .third-img, .fourth-img {
          background-attachment: fixed;
        }*/

       /*  font-family: 'Abril Fatface', cursive;
        font-family: 'Covered By Your Grace', cursive;
        font-family: 'Damion', cursive;
        font-family: 'Great Vibes', cursive;
        font-family: 'League Script', cursive;
        font-family: 'Sacramento', cursive; */
      
        /*  @include media-breakpoint-between(md, xl) 
        { */

        ::-webkit-scrollbar { 
          /* to remove the visible of side scroll bar */
             display: none; 
         } 
        
        .navbar{
           border-bottom: 1px solid black;
        }
            
         .nav-item nav-link {
              text-align: left;
        }

        .text{
          background-image:url(imagesforassigment/deep-blue-clouded-marble-textures-plain-820x532copy.jpg);
          width:100vw; 
          height:100vh; 
          background-repeat: no-repeat, repeat; 
          background-position: center;
          text-align: center; 
          vertical-align:middle;
          justify-content: center;
       
           /*automatically centres objects + responsive
           display: block;
           margin-left: auto;
           margin-right: auto */
       }

       h3, h4{
        text-align: center; 
        vertical-align:middle;
      
       }

       h3{
        font-family: 'Abril Fatface', cursive;
        font-size: 150px;
        color:#58595b;
       }

       h4{
        font-family: 'Great Vibes', cursive;
        font-size: 125px;
        color:#bd8f92;

        padding-top: 20px;
        
       }

       .carousel-inner {
        padding-top: 10px;
      }

       .fas{
        position: relative;

          }

        h1{
          /* *:not(h1)- remove padding*/  
          padding-top: 10px;

          writing-mode: vertical-lr;
          position: absolute;
        /*  https://stackoverflow.com/questions/14634595/center-h1-over-image-in-a-div */
        font-family: 'Abril Fatface', cursive;
        font-size: 30px;
      }
      
      .carousel-item {
          padding-left: 80px;
         /*  <div class="carousel-inner" role="listbox" style=" width:100%; height: 300px !important;"> 
         or 
          height: 300px; - to specify height of carousel */  
      }
      
      .carousel-control-next-icon, .carousel-control-prev-icon {
        position: relative;
       
         /*width:50%; 
        height:25%!important; 
        
        padding-top: 10px;
        padding-left: 80px;*/ 
      }
      
      .cardsimg{ 
          position: absolute;
          height: 40vh;
          width: 18rem;
          /* crops an image to that dimention
          overflow: hidden; or resize: both; overflow: scroll; or*/
         object-fit: cover; 
        
  
          /*curled edges of card */   
          border-radius: 0px;
         
          border-top: none;
          border-bottom: none;
          border-left: none ;

         margin-left:20px;
         padding-left: 5px;

         margin-right:20px;  
         padding-right: 15px;
         border-right: 2px solid black;
      }
    
       .cards a:hover {
          position: relative;
          height: 40vh;
          width: 18rem;
          transition: 0.2s ease;
          color: black;
          opacity: 0.1;
      }
      
       .overlay {
          
         /* text */
          height: 40vh;
          width: 18rem;
          margin-left:20px;
          
          color: whitesmoke;
        
          font-family: 'Abril Fatface', cursive;
          font-size: 20px;
          text-align: center;
      }

      h2{ 
      
      font-family: 'Abril Fatface', cursive;
      font-size: 20px;
      color: #000;

      text-align: center;
      }
 

    

/*  fonts specification according to screen size 
    


    @media screen and (min-width: 601px) {
      h4{
        font-family: 'Great Vibes', cursive;
        font-size: 125px;
        color:#bd8f92;

        padding-top: 20px;
        
       }
    }
*/
